@import "reset";
section {
    padding: 60px 0;
}

  
  .transarent-link{
    text-decoration: none;
    color: #000;
  }
  
  .main-button{
    padding: 1rem 2rem;
    background-color: #002f34;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 0 10px;
  }
  .main__link{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    svg{
        font-size: 22px;
    }
}